<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<h3>Sportsmen</h3>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}">name</td>
        <td>
            <a th:href="@{/users/{id}(id=${user.id})}" th:text="more"></a>
        </td>
    </tr>
    </tbody>
</table>
</br>

<h3>Contests</h3>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contest : ${contests}">
        <td th:text="${contest.name}">name</td>
        <td>
            <a th:href="@{/contests/{id}(id=${contest.id})}" th:text="more"></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
